@page "/"
@using BlazorAdvancedDemo.Resources.Pages
@inject IJSRuntime _jsRuntime
@*@inject IStringLocalizer<IndexTranslations> _localizer*@

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@*@_localizer["WelcomeToYourNewApp"]*@

@IndexTranslations.WelcomeToYourNewApp
@*Welcome to your new app.*@



@if (ShowSurvey)
{
    <SurveyPrompt Title="How is Blazor working for you?" />
}

<button class="btn btn-primary" @onclick="InstallPwa"> Install app </button>

@code {
    private static bool ShowSurvey { get; set; }

    [JSInvokable]
    public static async Task MyBlazorInstallMethod()
    {
        ShowSurvey = true;
        //      // show an alert and get the result
    //      ...
    //// tell browser to install
    //if (UserChoseInstall)
    //      {
    //          await jSRuntime.InvokeVoidAsync("BlazorPWA.installPWA");
    //      }
      }

    private async Task InstallPwa()
    {
        await _jsRuntime.InvokeVoidAsync("BlazorPWA.installPWA");
    }
}